<!-- ******ABOUT****** -->
 <section id="about" class="about section">
     <div class="container">
         <h2 class="title text-center">What is Keylime?</h2>
         <div class="row justify-content-center">
             <div class="mt-n1 mb-3 py-3">
                <iframe width="640" height="415" src="https://www.youtube.com/embed/Qhr_aVBCZPw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </div>
         </div>
         <p class="intro text-center">Keylime is a <a href="https://cncf.io" target="_blank">CNCF</a> hosted project that provides a highly scalable remote boot attestation and runtime integrity measurement solution. Keylime enables users to monitor remote nodes using a hardware based cryptographic root of trust.<br /> Keylime was originally born out of the security research team in MIT's Lincoln Laboratory.</p>
         <div class="row">
             <div class="item col-md-4 col-sm-6 col-xs-12">
                 <div class="icon-holder">
                     <i class="fa fa-cogs"></i>
                 </div>
                 <div class="content">
                     <h3 class="sub-title">TPM 2.0</h3>
                     <p>Keylime adheres to the Trusted Computing Group TPM 2.0 specification.
                        It is built on top of the
                       <a href="https://github.com/tpm2-software" target="_blank">Linux TPM2 Software Stack.</a>
                 </div><!--//content-->
             </div><!--//item-->
             <div class="item col-md-4 col-sm-6 col-xs-12">
                 <div class="icon-holder">
                     <i class="fa fa-users"></i>
                 </div>
                 <div class="content">
                     <h3 class="sub-title">Open Source</h3>
                     <p>Keylime is all open source. You're free to make changes and we encourage community contributions.</p>
                 </div><!--//content-->
             </div><!--//item-->
             <div class="item col-md-4 col-sm-6 col-xs-12">
                 <div class="icon-holder">
                     <i class="fa fa-smile"></i>
                 </div>
                 <div class="content">
                     <h3 class="sub-title">TPM's made easy!</h3>
                     <p>Keylime is about making TPM technology accessible for developers and users. It handles the complexity, you drive the use case!</p>
                 </div><!--//content-->
             </div><!--//item-->
         </div><!--//row-->
     </div><!--//container-->
 </section><!--//about-->
