<section id="contact" class="docs section">
    <div class="container">
        <div class="docs-inner">
        <h2 class="title text-center">Need support? Come and chat with us</h2>
        <div class="block">
            <p class="text-center">
                <a class="btn btn-cta-primary" href="https://gitter.im/keylime-project/community" target="_blank">Chat on gitter.im</a>
            </p>
             <p class="text-center">
                <a class="btn btn-cta-primary" href="https://keylime.groups.io/g/main" target="_blank">Join the mailing list</a>
            </p>
        </div><!--//block-->
    </div><!--//container-->
</section><!--//features-->
<section id="contact" class="docs section">
    <div class="container">
        <div class="docs-inner">
        <h2 class="title text-center">Read more about Keylime</h2>
        <div class="block">
            <p class="text-center">
                <a class="btn btn-cta-primary" href="https://docs.google.com/viewer?url=https://github.com/keylime/keylime/raw/master/doc/tci-acm.pdf" target="_blank">Keylime Whitepaper</a>
        </div><!--//block-->
    </div><!--//container-->
</section><!--//features-->
