\<!-- ******DOCS****** -->
<section id="get-started" class="docs section">
    <div class="container">
        <div class="docs-inner">
        <h2 class="title text-center">Want to try Keylime?</h2>
        <h3 class="sub-title text-center">Check if your device has a TPM 2.0 (on Kernel 5.6+)</h3>
        <div class="code-block">
                <!--//Use Prismjs - http://prismjs.com/index.html#basic-usage -->
                <pre><code class="language-markup">
$ cat /sys/class/tpm/tpm*/tpm_version_major
2
                 </code></pre>
        <h3 class="sub-title text-center">Install the Agent, Registrar, Tenant and Verifier</h3>
        <div class="block">
            <p class="text-center">
                <a class="btn btn-cta-primary" href="https://keylime.readthedocs.io/en/latest/user_guide/runtime_ima.html" target="_blank">Installation instructions</a>
            </p>
        </div><!--//block-->
           <h3 class="sub-title text-center">Try out run-time attestation</h3>
           <div class="block">
               <p class="text-center">
                   <a class="btn btn-cta-primary" href="https://keylime.readthedocs.io/en/latest/user_guide/runtime_ima.html" target="_blank">Run-time setup</a>
               </p>
           </div><!--//block-->
    </div><!--//container-->
</section><!--//features-->

<!-- ******DOCS****** -->
