<!-- ******FEATURES****** -->
<section id="features" class="features section">
    <div class="container text-center">
        <h2 class="title">Features</h2>
        <ul class="feature-list list-unstyled">
            <li><i class="fas fa-check"></i> Remote Boot Attestation</li>
            <li><i class="fas fa-check"></i> Linux IMA Runtime Integrity Monitoring</li>
            <li><i class="fas fa-check"></i> Certificate Authority</li>
            <li><i class="fas fa-check"></i> Secure Secret Provisioning</li>
            <li><i class="fas fa-check"></i> Demo Scripts</li>
            <li><i class="fas fa-check"></i> Ansible Playbooks</li>
        </ul>
    </div><!--//container-->
</section><!--//features-->
