<!-- ******HEADER****** -->
<header id="header" class="header">
    <div class="container">
        <h1 class="logo float-left">
            <a class="scrollto" href="#promo">
                <span class="logo-title">Keylime</span>
            </a>
        </h1><!--//logo-->
        <nav id="main-nav" class="main-nav navbar-expand-md float-right" role="navigation">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button><!--//nav-toggle-->

            <div class="navbar-collapse collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item sr-only"><a class="nav-link scrollto" href="#promo">Home</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#about">About Keylime</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#features">Keylime Features</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#get-started">Try out Keylime!</a></li>
                    <li class="nav-item last"><a class="nav-link scrollto" href="#contact">Contact the Team</a></li>
                    <li class="nav-item last"><a class="nav-link" href="/blog">Keylime Blog</a></li>
                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->
    </div>
</header><!--//header-->
