<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
    <div class="container text-center">
        <h2 class="title">Keylime</h2>
        <img src="assets/images/keylime.png" alt="keylime-logo" class="center">
        <p class="intro">Bootstrap & Maintain Trust on the Edge / Cloud and IoT</p>
        <div class="btns">
            <a class="btn btn-cta-primary" href="https://github.com/keylime/" target="_blank">Github</a>
            <a class="btn btn-cta-primary" href="https://keylime-docs.readthedocs.io/en/latest/" target="_blank">Docs</a>
            <p></p>
        </div>
        <ul class="meta list-inline">
            <!--<li class="list-inline-item"><a href="https://github.com/keylime" target="_blank">View on GitHub</a></li>-->
            <!--<li class="list-inline-item"><a href="" target="_blank">Full Documentation</a></li>-->
        </ul><!--//meta-->
    </div><!--//container-->
    <div class="social-media">
        <div class="social-media-inner container text-center">
            <ul class="list-inline mb-2">
                <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
                <li class="list-inline-item github-star">
<a class="github-button" href="https://github.com/keylime/keylime" data-icon="octicon-star" aria-label="Star keylime/keylime on GitHub">Star</a></li>
                <li class="list-inline-item github-follow"><!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/keylime" aria-label="Follow @keylime on GitHub">Follow @keylime</a></li>
            </ul>
        </div>
    </div>
</section><!--//promo-->
